/* Global Styles */
body {
	font-family: 'GmarketSansMedium';
	src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.wrapper.member_login {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	min-height: 100%;
	padding-top: 110px;
	box-sizing: border-box;
}
weapper{
	position: relative;
	min-width: 1440px;
	overflow: hidden;
	min-height: 100vh;
}
.wrapper.member_login .header_wrapper {
    width: 100%;
    border-bottom: none;
    flex-shrink: 0;
    height: 54px;
}
.wrapper .header_wrapper {
    position: relative;
    background-color: #fff;
    border-bottom: 1px solid #eaeaea;
    z-index: 1000;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}
header {
    display: block;
    unicode-bidi: isolate;
}
.wrapper.member_login .header_wrapper .header_inner {
    width: 400px;
    margin: 0 auto;
    text-align: center;
    font-size: 0;
}
.wrapper .header_wrapper .header_inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.wrapper.member_login .header_wrapper .logo_box {
    display: inline-block;
    width: 171px;
    height: 56px;
    vertical-align: top;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.wrapper.member_login .header_wrapper .logo_box .logo_link {
    display: block;
    height: 100%;
}
a {
    color: #000;
    text-decoration: none;
}
.wrapper.member_login .header_wrapper .logo_box .logo_link img {
    width: 100%;
}
img {
    vertical-align: middle;
	
}
img, fieldset {
    border: 0;
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.wrapper.member_login .container_wrapper {
    flex: 1 0 auto;
    width: 100%;
    padding: 100px 0 100px;
    min-height: calc(100vh - 54px - 68px - 250px);
}
.wrapper .container_wrapper {
    min-height: calc(100vh - 80px);
}
main {
    display: block;
    unicode-bidi: isolate;
}
.wrapper.member_login .container_wrapper .contents_wrap {
    width: 400px;
    margin: 0 auto;
    padding-top: 0;
}
.wrapper .container_wrapper .contents_wrap {
    padding-top: 50px;
}
section {
    display: block;
    unicode-bidi: isolate;
}
.title_wrap.title_size_md {
    padding-bottom: 20px;
}
.title_wrap.has_line {
    margin-bottom: 30px;
    border-bottom: 1px solid #000;
}
.title_wrap {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.title_wrap.title_size_md .title_heading {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.01em;
}
.title_wrap .title_heading {
    display: inline-block;
    position: relative;
    font-weight: 700;
    overflow-wrap: anywhere;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, button, textarea, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}
.title_wrap .right_area {
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.title_wrap .right_area .step_round_desc {
    margin-right: 12px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: rgb(255, 128, 0);
    font-weight: 500;
}
.step_round_list {
    font-size: 0;
}
ol, ul {
    list-style: none;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, button, textarea, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 10px;
    unicode-bidi: isolate;
}
.step_round_list .step_item {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #d5d5d5;
    border-radius: 100%;
    box-sizing: border-box;
    text-align: center;
    font-size: 0;
    vertical-align: middle;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}
.step_round_list .step_item ~ .step_item {
    margin-left: 6px;
}
.step_round_list .step_item.active {
    width: 24px;
    height: 24px;
    padding-top: 3px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    background-color: rgb(255, 128, 0);
    font-weight: 700;
    color: #fff;
}
.title_wrap.title_size_md + .title_size_md, .title_wrap.title_size_md + .title_size_def {
    margin-top: 0;
}
.title_wrap.title_size_def {
    padding-bottom: 10px;
}
.title_wrap .right_area {
    margin-left: auto;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.title_wrap .required {
    display: inline-block;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #595959;
    vertical-align: top;
}
.title_wrap .required:before {
    content: "*";
    display: inline-block;
    position: relative;
    width: 6px;
    height: 6px;
    margin-right: 3px;
    transform: translateY(6px);
    color: rgb(255, 128, 0); /* 별표 색상 */
    background-color: transparent; /* 배경색 제거 */
	font-size: 20px;
}
.title_wrap .required {
    display: inline-block;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #595959;
    vertical-align: top;
}
.form_wrap .form_box ~ .form_box {
    margin-top: 20px;
}
.form_wrap .form_box .form_title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.form_label {
    display: inline-block;
    color: #000;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    font-weight: 500;
    cursor: default;
}
label {
    cursor: pointer;
}
label {
    cursor: default;
}
.form_label .required {
    display: inline-block;
    width: 6px;
    height: 6px;
    padding-left: 3px;
    margin-top: 5px;
    vertical-align: top;
}
.hidden {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    line-height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    font: 0 / 0 Arial;
}
.form_wrap .required:before {
	content: "*";
	display: inline-block;
	position: relative;
	width: 6px;
	height: 6px;
	margin-right: 3px;
	transform: translateY(-5px);
	color: rgb(255, 128, 0); /* 별표 색상 */
	background-color: transparent; /* 배경색 제거 */
	font-size: 20px;
}
.form_wrap .form_box .form_cont {
    margin-top: 6px;
    color: #595959;
}
.input_btn_box {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    width: 100%;
}
.input_btn_box .form_ip, .input_btn_box .time_limit, .input_btn_box .form_ip_pw, .input_btn_box .form_ip_pw, .input_btn_box .form_sel, .input_btn_box .awesomplete, .input_btn_box .input_price_box {
    flex: 1;
}
.form_ip {
    display: inline-block;
    width: 100%;
    height: 44px;
    padding: 0 14px 2px;
    color: #000;
    font-size: 14px;
    line-height: 42px;
    letter-spacing: -0.01em;
    font-family: "Noto Sans KR", sans-serif;
	padding-right: 20px;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    border-radius: 6px;
    box-sizing: border-box;
    transition: border-color 0.2s ease-out;
    outline: none;
}
.input_btn_box .form_ip + .btn_ip, .input_btn_box .time_limit + .btn_ip, .input_btn_box .form_ip_pw + .btn_ip, .input_btn_box .form_ip_pw + .btn_ip, .input_btn_box .form_sel + .btn_ip, .input_btn_box .awesomplete + .btn_ip, .input_btn_box .input_price_box + .btn_ip {
    margin-left: 6px;
}
a.btn_light_gray, button.btn_light_gray {
    color: #fff;
    background: #767676;
    border: 1px solid #767676;
    transition: background-color 0.2s ease-out, border-color 0.2s ease-out;
}
a.btn_ip, button.btn_ip {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 86px;
    height: 44px;
    padding: 0 19px 1px;
    border-radius: 6px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-weight: 500;
}
button[class^=btn_], a[class^=btn_] {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: top;
}
table, th, td, input, select, button, textarea, pre {
    font: inherit;
    color: inherit;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, button, textarea, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
}
button{
	background-color: rgb(255, 128, 0);
	border: 1px solid #d5d5d5;
	color: #fff;
	width: 70px;
	height: 45px;
	border-radius: 7px;
	font-size: 15px;
}
.form_ip_pw {
    position: relative;
}
.form_ip_pw .form_ip {
    padding: 0 48px 0 14px;
}
input, button, select, textarea {
    vertical-align: middle;
}
.form_ip_pw .btn_toggle_pw {
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 11px;
    width: 22px;
    height: 20px;
    background-size: 22px 20px;
    background-image: url(../src/iz1.png);
    transition: background 0.2s ease-out;
	background-color: transparent;
}
.btn_toggle_pw{
	border: transparent;
}
.pw_valid_wrap .valid_step_box {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}
.pw_valid_wrap .valid_step_box .valid_step_list {
    font-size: 0;
    height: 3px;
}
ol, ul {
    list-style: none;
}
.pw_valid_wrap .valid_step_box .valid_step_list .step_item {
    display: inline-block;
    width: 80px;
    height: 3px;
    background-color: #eaeaea;
    border-radius: 2px;
    vertical-align: top;
}
li {
    display: list-item;
    unicode-bidi: isolate;
}
.pw_valid_wrap .valid_step_box .valid_step_list {
    font-size: 0;
    height: 3px;
}
.pw_valid_wrap .valid_step_box .valid_step_list .step_item + .step_item {
    margin-left: 3px;
}
.pw_valid_wrap .valid_step_box .bubble_speech_box .valid_state {
    display: block;
    font-size: 12px;
    line-height: 19px;
    letter-spacing: -0.01em;
    color: #767676;
	padding-left: 80px;
}
.pw_valid_wrap .pw_valid_list {
    margin-top: 4px;
}

.pw_valid_wrap .pw_valid_list .pw_valid_item {
    padding-left: 15px;
    font-size: 13px;
    line-height: 19px;
    letter-spacing: -0.01em;
    background: url(../src/check.png) left top 2px no-repeat;
	background-repeat: no-repeat;
	background-size: 10px 11px;
    color: #767676;
}
li {
    display: list-item;
    unicode-bidi: isolate;
}
.pw_valid_wrap .pw_valid_list .pw_valid_item + .pw_valid_item {
    margin-top: 6px;
}
.form_filter_box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.input_btn_box .form_ip + .form_filter_box, .input_btn_box .time_limit + .form_filter_box, .input_btn_box .form_ip_pw + .form_filter_box, .input_btn_box .form_ip_pw + .form_filter_box, .input_btn_box .form_sel + .form_filter_box, .input_btn_box .awesomplete + .form_filter_box, .input_btn_box .input_price_box + .form_filter_box {
    margin-left: 6px;
}
.form_filter_box .form_filter {
    flex: 1 1 auto;
}
.form_filter_box .form_filter input {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
.form_filter_box .form_filter input[disabled]:checked + label, .form_filter_box .form_filter input[aria-disabled]:checked + label, .form_filter_box .form_filter input[readonly]:checked + label {
    background-color: #ededf7;
    border-color: #a6a9d7;
    color: rgba(71, 76, 152, 0.5);
}
.form_filter_box .form_filter:first-child input + label {
    border-radius: 6px 0 0 6px;
}
.form_filter_box .form_filter input[disabled] + label, .form_filter_box .form_filter input[aria-disabled] + label, .form_filter_box .form_filter input[readonly] + label {
    background-color: #f7f7f7;
    border-color: #d5d5d5;
    color: #767676;
    pointer-events: none;
}
.form_filter_box .form_filter input[disabled] + label, .form_filter_box .form_filter input[aria-disabled] + label, .form_filter_box .form_filter input[readonly] + label {
    background-color: #f7f7f7;
    border-color: #d5d5d5;
    color: #767676;
    pointer-events: none;
}
.form_filter_box .form_filter input + label {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    position: relative;
    z-index: 1;
    min-width: 60px;
    width: 100%;
    height: 44px;
    padding: 0 16px;
    color: #767676;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: -0.01em;
    font-family: "Noto Sans KR", sans-serif;
    background-color: #fff;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    vertical-align: top;
    transition: border-color 0.2s ease-out;
}
.form_filter_box .form_filter label {
	padding: 5px 10px; /* 비선택 상태와 선택 상태에서 일관된 패딩 */
	border: 1px solid #ccc; /* 기본 테두리 색상 */
	border-radius: 5px;
	cursor: pointer;
	display: inline-flex; /* 텍스트가 이동하지 않도록 고정 */
	align-items: center; /* 텍스트를 가운데 정렬 */
	justify-content: center; /* 텍스트 가운데 정렬 */
	
}

.form_filter_box .form_filter input:checked + label {
	z-index: 1;
	border-color: #5055b1; /* 선택된 상태에서의 테두리 색상 */
	color: #474c98; /* 선택된 상태에서의 글자 색상 */
	background-color: #e0e1f9; /* 선택된 상태에서의 배경 색상 */
	padding: 5px 10px;
	justify-content: center;
}

.form_filter_box .form_filter input:checked + label .text {
    padding-left: 14px;
}
.form_filter_box .form_filter input + label .text {
    position: relative;
    text-align: left;
}
.form_filter_box .form_filter:last-child input + label {
    border-radius: 0 6px 6px 0;
}
.form_filter_box .form_filter input[type="radio"] {
    display: none; /* 기본 라디오 버튼은 숨김 */
}




.btn_wrap.justify {
    display: flex;
}
.btn_wrap.page_bottom {
    margin-top: 40px;
}
.btn_wrap.justify [class^=btn_] {
    flex: 1;
    min-width: auto;
}
a.btn_light_gray[disabled], a.btn_light_gray[aria-disabled], a.btn_light_gray.disabled, button.btn_light_gray[disabled], button.btn_light_gray[aria-disabled], button.btn_light_gray.disabled {
    background: rgb(255, 128, 0);
    border-color: #bebebe;
}
a.btn_light_gray, button.btn_light_gray {
    color: #fff;
    background: #767676;
    border: 1px solid #767676;
    
}
a.btn_lg, button.btn_lg {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    min-width: 200px;
    height: 50px;
    padding: 0 23px 1px;
    border-radius: 6px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 700;
}
.input_btn_box .btn_toggle_pw {
    display: inline-block;
    position: absolute;
    right: 14px;
    top: 11px;
    width: 22px;
    height: 20px;
    background-size: 22px 20px;
    background-image: url(../src/iz1.png);
    transition: background 0.2s ease-out;
	background-color: transparent;
}










